<div class="text-center" style="height: 400px;">
  <div class="mask w-100 h-100 bg" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="w-75">
        <div class="h1 text-white text-shadow font-weight-bold">The safest way to buy and sell tickets</div>

        <mat-form-field class="w-75" appearance="fill" color="accent">
          <input color="primary" matInput placeholder="Search for an event, artist, venue or city" [(ngModel)]="searchTerm" (keyup)="searchEvents()">
          <mat-icon matPrefix>search</mat-icon>
          <button mat-icon-button matSuffix aria-label="Clear search" (click)="clearSearch()" *ngIf="searchTerm.length > 0">
            <mat-icon>close</mat-icon>
          </button>  
          <button mat-icon-button matSuffix aria-label="Voice search" (mousedown)="startRecording()" (mouseup)="stopRecording()">
            <div class="mic-container" [class.recording]="isRecording">
              <mat-icon class="mic-icon">mic</mat-icon>
            </div>
          </button>                   
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 p-5" *ngIf="events.length > 0; else noResults">
    <div class="col" *ngFor="let event of events | paginate: { itemsPerPage: 20, currentPage: p }">  
      <div class="card h-100">
        <img [src]="event.image" class="card-img-top event-image" [alt]="event.name" />
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ event.name }}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-icon class="my-material-icons">calendar_today</mat-icon> {{ event.date | date:'EEEE, MMM d, h:mm a' }}
            </div>
          </div>
          <div class="row">
            <div class="col text-muted">
              <mat-icon class="my-material-icons">location_on</mat-icon> {{ event.venue }}, {{ event.location }}
            </div>
          </div>
        </div>
        <div class="card-footer px-0 py-0">
          <a [routerLink]="'/event/' + event.id" class="btn btn-primary w-100 h-100 btn-fill btn-lg btn-rounded" color="primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <ng-template #noResults>
    <p>No results found.</p>
  </ng-template>
</section>

