   html, body {
    height: 100%;
    min-width: 400px;
  }
  
  :host {
    min-height: calc(100vh - 60px); 
    display: flex;
    flex-direction: column;
  }
  
  .full-vh {
    height: calc(100vh - 510px); 
  }
  
  
  section {
    min-height: 100%;
  }
  
.text-center.w-100 {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fs-4 {
  font-size: 3.5rem;
}

.ms-n5 {
    margin-left: -40px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

button[aria-label="Voice search"]:active {
  color: rgb(212, 49, 49);
}

.mic-container {
  position: relative;
}

.mic-container.recording {
  animation: scaling 1.5s infinite;
}

.mic-icon {
  position: relative;
  z-index: 1;
}

@keyframes scaling {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.event-image {
  width: 100%; 
  max-height: 200px;
  background-position: top center;
  object-position: top;
  object-fit: cover;
}

.btn-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.btn-rounded {
  border-radius: 0 0 0.5rem 0.5rem;
}

.my-material-icons {
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.bg {
  background-image: url('https://cdn.ticketswap.com/public/202106/3092f98a-3074-4c45-9474-7c2250be3c22.7d1cd9c224bd5ebfc4358026c8efd54a4e588e77.jpeg'); 
  background-size: cover; 
  background-position: center bottom;
  -webkit-background-position: center bottom;
  object-fit: cover;
  inset-inline: 0;
  inset-block-start: 0;
  block-size: 100%;
  -webkit-background-size: cover;
}

.text-shadow {
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.ngx-pagination a {
  color: white !important;
}

.ngx-pagination .current {
  color: black !important; 
}
.my-pagination a {
  color: white;
}

.my-pagination .current {
  color: black;
}
