/* section {
    background-color: #eee;
}

body.dark-theme > section {
    background-color: #222;
    color: #fff;
  }
  
  section.dark-theme button {
    background-color: #333;
    color: #fff;
  }
   */
   .ms-n5 {
    margin-left: -40px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

button[aria-label="Voice search"]:active {
  color: rgb(212, 49, 49);
}

.mic-container {
  position: relative;
}

.mic-container.recording {
  animation: scaling 1.5s infinite;
}

.mic-icon {
  position: relative;
  z-index: 1;
}

@keyframes scaling {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.event-image {
  width: 100%; 
  max-height: 200px;
  background-position: top center;
  object-position: top;
  object-fit: cover;
}

.btn-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.btn-rounded {
  border-radius: 0 0 0.5rem 0.5rem;
}

.my-material-icons {
    width: 15px;
    height: 15px;
    font-size: 15px;
}
