:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

.component-full-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
