:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1a2129;
}

.component-full-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.pagination /deep/ .current {
    background-color: #3f51b5;
    color: white;
}

.pagination /deep/ li {
    background-color: #f1f1f1;
    color: black;
}