<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 px-0">
      <mat-card class="rounded">
        <mat-card-title class="text-center mb-4 font-weight-bold">Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" required>
                  <mat-error class="d-flex" *ngIf="fc.email.invalid">
                    <div *ngIf="fc.email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="fc.email.errors.email">
                      Please enter a valid email.
                    </div>
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword; $event.stopPropagation(); $event.preventDefault()">
                    <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error class="d-flex" *ngIf="fc.password.invalid">
                    Password is required.
                  </mat-error>
                </mat-form-field>
            <button mat-raised-button color="primary" class="float-end btn-lg">Login</button>
          </form>
        
          <p class="d-inline-block pt-4 w-100 text-center">Or</p>

          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="btn-lg">
              <mat-icon class="me-2">google</mat-icon>
              Login with Google
            </button>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button mat-raised-button color="primary" class="btn-lg">
              <mat-icon class="me-2">facebook</mat-icon>
              Login with Facebook
            </button>
          </div>

          <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a routerLink="/register" class="fw-bold text-body"><u>Sign Up</u></a></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
