<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="rounded">
        <mat-card-title class="text-center mb-4">Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="row mb-3">
              <div class="col-md-12">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" type="password" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-right">
                  <button mat-raised-button color="primary" class="float-end btn-lg">Login</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-3">
            <div class="row">
              <div class="form-group text-center">
                <button mat-raised-button color="primary">
                  <mat-icon>login</mat-icon>
                  Login with Google
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="form-group text-center">
                <button mat-raised-button color="primary">
                  <mat-icon>login</mat-icon>
                  Login with Facebook
                </button>
              </div>
            </div>
          </div>
          <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a routerLink="/register" class="fw-bold text-body"><u>Sign Up</u></a></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
