<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100" style="max-width: 1700px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-9">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{cart.totalCount}} items</h6>
                    </div>
                    <div *ngIf="cart && cart.items.length">
                      <hr class="my-4">
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2">
                          <h6 class="text-muted">Event Name</h6>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <h6 class="text-muted">Event Date</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2">
                          <h6 class="text-muted">Number of Tickets</h6>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-1">
                          <h6 class="text-muted">Price</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <h6 class="text-muted"></h6>
                        </div>
                      </div>                      
                      <div *ngFor="let cartItem of cart.items" class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <a routerLink="/event/{{cartItem.eventM.id}}">
                            <img [src]="cartItem.eventM.image" [alt]="cartItem.eventM.name" class="img-fluid rounded-3">
                          </a>
                        </div>
                        <p>{{cartItem.eventM.id}}</p>
                        <div class="col-md-3 col-lg-3 col-xl-2">
                          <h6 class="text-black mb-0">{{cartItem.eventM.name}}</h6>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <h6 class="text-black mb-0">{{cartItem.eventM.date | date:'fullDate'}}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown();">
                            <i class="fas fa-minus"></i>
                          </button>
                          <div class="col-4">
                            <input #quantitySelect id="form1" min="0" name="quantity" value="1" (change)="changeQuantity(cartItem, quantitySelect.value)" type="number" class="form-control form-control-sm" />
                          </div>                        
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-1">
                          <h6 class="mb-0"> {{cartItem.price | currency}}</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a class="text-muted" style="cursor: pointer;" (click)="removeFromCart(cartItem)"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!cart || cart.items.length === 0"><p class="text-muted">Your cart is empty.</p></div>
                    <hr class="my-4">
                    <div class="pt-5">
                      <h6 class="mb-0"><a routerLink="/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div *ngIf="cart && cart.items.length" class="col-lg-3" style="background-color: beige; border-radius: 0 15px 15px 0;">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">{{cart.totalCount}} items</h5>
                      <h5>{{cart.cartPrice | currency}}</h5>
                    </div>
                    <h5 class="text-uppercase mb-3">Coupon code</h5>
                    <div class="mb-5">
                      <div class="form-outline">
                        <form (ngSubmit)="applyCoupon()" [formGroup]="couponForm" class="form-inline">
                          <label class="form-label" for="form3Examplea2">Enter your code</label>
                          <div class="d-flex align-items-center">
                            <input type="text" id="form3Examplea2" class="form-control form-control-lg mr-2" formControlName="couponCode" />
                            <default-button widthRem="5" class="btn btn-sm" text="Apply"></default-button>  
                          </div>
                        </form>
                      </div>
                    </div>                    
                    <hr class="my-4">
                    <div class="d-flex justify-content-between" *ngIf="discountedPrice > 0">
                      <h5 class="text-uppercase">Discounted price</h5>
                      <h5>{{ discountedPrice | currency }}</h5>
                    </div>                    
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{cart.totalPrice | currency}}</h5>
                    </div>
                    <button type="button" class="btn btn-dark btn-block btn-lg w-100"
                      data-mdb-ripple-color="dark" routerLink="/checkout">Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

