<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="rounded">
        <mat-card-title class="text-center mb-4">Create an Account</mat-card-title>
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Your Name</mat-label>
                  <input matInput formControlName="name" required minlength="2">
                  <mat-error *ngIf="fc.name.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="fc.name.errors?.minlength">Name should have at least 2 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Your Email</mat-label>
                  <input matInput type="email" formControlName="email" required email>
                  <mat-error *ngIf="fc.email.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="fc.email.errors?.email">Invalid email format</mat-error>
                  <mat-error *ngIf="fc.email.errors?.emailInUse">Email is already in use</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required >
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="fc.password.errors?.required">Password is required</mat-error>
                  <mat-error *ngIf="fc.password.errors?.minlength">Password should have at least 4 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required >
                  <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword; $event.stopPropagation(); $event.preventDefault()">
                    <mat-icon>{{hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="fc.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                  <mat-error *ngIf="fc.confirmPassword.errors?.minlength">Confirm Password should have at least 4 characters</mat-error>
                  <mat-error *ngIf="fc.confirmPassword.errors?.passwordsMatch">Passwords do not match</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="float-end btn-lg">Register</button>
          </form>
          <p class="d-inline-block pt-4 w-100 text-center">Or</p>

          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="btn-lg">
              <mat-icon class="me-2">google</mat-icon>
              Register with Google
            </button>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button mat-raised-button color="primary" class="btn-lg">
              <mat-icon class="me-2">facebook</mat-icon>
              Register with Facebook
            </button>
          </div>
          <p class="text-center text-muted mt-5 mb-0">Already have an account? <a routerLink="/login" class="fw-bold text-body"><u>Login here</u></a></p>
          <div *ngIf="generalError" class="alert alert-danger mt-3 mx-2">
            An error occurred while registering. Please try again.
          </div>          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
