.example-spacer {
  flex: 1 1 auto;
}
.user-image {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-position: center center;
  object-fit: cover;
}
.rotate-icon {
  transform: rotate(160deg);
}
.menu-item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.menu-item-container.last-item {
  border-bottom: none;
}
.date-container {
  text-align: right;
  font-size: 0.8em;
  color: #888;
}
.notification-dropdown {
  width: 350px;
}
.buy-tickets-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.login-button {
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: mat-color($primary);
}
.toolbar-logo {
  height: 22px;
  width: auto;
  vertical-align: middle;
}
