<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div *ngIf="cart && cart.items.length" class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-4" style="background-color: beige; border-radius: 15px 0 0 15px;">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Shopping Cart</h3>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">{{cart.totalCount}} items</h5>
                      <h5>{{cart.totalPrice | currency}}</h5>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{cart.totalPrice | currency}}</h5>
                    </div>
                    <div class="pt-5">
                        <h6 class="mb-0"><a routerLink="/cart" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to cart</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Checkout</h1>
                      <h6 class="mb-0 text-muted">{{cart.totalCount}} items</h6>
                    </div>
                    <hr class="my-4">
                    <p>Your email address. This address will be used to send your tickets.</p>
                    <text-input label="Email" type="email" [control]="fc.email"></text-input>
                    <p class="pt-4"><paypal-button [order]="order"></paypal-button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    

  <div class="container rounded bg-black mt-4 mx-auto p-4">
    <div class="content">
      <form [formGroup]="checkoutForm">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <text-input label="Name" [control]="fc.name"></text-input>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <text-input label="Email" type="email" [control]="fc.email"></text-input>
        </div>
      </form>
    </div>
    <div class="buttons-container">
      <div class="button">
        <default-button text="Back to Cart" [routerLink]="['/cart']"></default-button>
        <paypal-button [order]="order"></paypal-button>
      </div>
    </div>
  </div>
  