<div class="container mt-5 mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
      <div class="row">
        <aside class="col-lg-3 pe-xl-5 order-lg-1 order-2">
          <app-account-sidemenu></app-account-sidemenu>
        </aside>
        <section class="col-lg-9 order-lg-2 order-1">
          <div>
            <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-between mb-4 mt-4">
              <h1 class="h3 mb-sm-0 mb-2 pb-1 text-sm-start text-center">Favorites</h1>
            </div>
            <div class="row pb-5">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let event of favorites">
                <div class="card mb-4 h-100">
                  <a [routerLink]="['/event', event.id]" class="text-decoration-none">
                    <div class="img-container">
                      <img [src]="event.image" class="card-img-top img-fluid h-100" style="object-fit: contain;" alt="{{ event.name }}">
                    </div>
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a [routerLink]="['/event', event.id]" class="text-decoration-none">{{ event.name }}</a>
                    </h5>
                    <p class="card-text d-flex align-items-center">
                      <small class="text-muted">
                        <span class="material-icons" style="font-size: 18px;">event</span>{{ event.date | date }}
                      </small>
                    </p>
                    <p class="card-text d-flex align-items-center">
                      <small class="text-muted">
                        <span class="material-icons" style="font-size: 18px;">location_on</span>{{ event.location }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
              <div *ngIf="favorites.length === 0" class="empty-container">
                You didn't add any events to your favorites yet.
                </div>  
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
