<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-3 pe-xl-5">
                <app-account-sidemenu></app-account-sidemenu>
            </aside>
            <!-- Content -->
            <section class="col-lg-9 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <h1 class="h3 mb-4 pt-2 text-center text-sm-start">Profile Settings</h1>
                    <div class="bg-secondary rounded-3 p-4 mb-4 text-center text-sm-start">
                        <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center">
                            <p>hi</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
  </div>
  