html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
