@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}