<div class="container mb-5 pb-3">
  <div class="bg-light shadow-lg rounded-3 overflow-hidden">
    <div class="row">
      <!-- Sidebar -->
      <aside class="col-lg-3 pe-xl-5">
        <app-account-sidemenu></app-account-sidemenu>
      </aside>
      <!-- Content -->
      <section class="col-lg-9 pt-lg-4 pb-4 mb-3">
        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
          <h1 class="h3 mb-4 pt-2 text-center text-sm-start">Profile Settings</h1>
          <div class="row align-items-center border rounded p-4 mx-0">
            <div class="col-6">
              <label class="form-label h4" for="profile-balance">Balance</label>
              <p class="form-control-plaintext">${{ userBalance || '0.00' }}</p>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button class="btn btn-primary" type="button">Move to PayPal</button>
            </div>
          </div>
                
          <div class="bg-dark rounded-3 p-4 mt-2 mb-4 text-center text-sm-start">        
            <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center">
              <img class="rounded mb-sm-0 mb-3 img-thumbnail" [src]="'http://localhost:5000/' + user.imageURL" style="width: 90px; height: 90px; object-fit: cover;" alt="Themesbrand" id="user_profile">
              <div class="ms-n2 ps-sm-4">
                <form [formGroup]="photoForm">
                  <label for="customer-image-input" class="btn btn-outline-info mb-2 ms-2" type="button">
                    <i class="fas fa-sync-alt me-2"></i>Update avatar
                  </label>
                  <input class="form-control d-none" id="customer-image-input" type="file" formControlName="photo" accept="image/png, image/gif, image/jpeg" (change)="updatePhoto($event)">
                   <button class="btn btn-outline-danger mb-2 ms-2" type="button">
                    <i class="fas fa-trash-alt me-2"></i>Delete
                  </button>
                </form>
                <div class="pt-1 mb-0 ms-2 fs-sm text-muted">
                  We recommend an image of at least 400x400. Gifs work too :)
                </div>
              </div>
            </div>
          </div>
          <form (ngSubmit)="saveUser()" [formGroup]="userForm">
            <div class="row gy-3 mb-4 pb-md-3 mb-2">
              <div class="col-sm-6">
                <label class="form-label" for="profile-name">Full name</label>
                <input class="form-control" formControlName="name" id="profile-name" type="text" value="Robert Fox">
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="profile-username">Email</label>
                <input class="form-control" id="profile-email" formControlName="email" type="email" value="example@gmail.com">
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="profile-uid">Username</label>
                <input class="form-control" id="profile-username" formControlName="username" type="text" placeholder="@enter_name">
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="profile-email">UID</label>
                <input class="form-control" id="profile-uid" formControlName="id" type="text" value="374702749" readonly>
              </div>
            </div>
            <!-- Submit -->
            <div class="d-flex flex-sm-row flex-column justify-content-sm-end justify-content-center">
              <default-button class="btn btn-accent" text="Update profile"></default-button>
            </div>            
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex flex-column flex-md-row bg-white rounded">
          <div class="col-md-4 ps-0">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action tab-item active px-3 border-0" id="list-home-list"
                data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><i class="material-icons">person</i> My Profile</a>
              <a class="list-group-item list-group-item-action tab-item px-3 border-0" id="list-profile-list"
                data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><i class="material-icons">event_note</i> Tickets</a>
              <a class="list-group-item list-group-item-action tab-item px-3 border-0" id="list-messages-list"
                data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><i class="material-icons">notifications</i> Notifications</a>
              <a class="list-group-item list-group-item-action tab-item px-3 border-0" id="list-settings-list"
                data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings"><i class="material-icons">exit_to_app</i> Signout</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="container py-5">
                  <div class="row">
                    <h4 class="mt-4">Profile Settings</h4>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Full Name</label>
                      <input type="text" class="form-control" placeholder="Enter your full name">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" placeholder="Enter your email address">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control" placeholder="Enter your username">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">UID</label>
                      <input type="text" class="form-control" placeholder="Enter your UID">
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <h4 class="mt-4">Tickets</h4>
                 Content for Tickets tab 
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <h4 class="mt-4">Notifications</h4>
                 Content for Notifications tab 
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <h4 class="mt-4">Signout</h4>
                 Content for Signout tab 
              </div>
            </div>
          </div>
        </div>
      </div>
</section> -->
