<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <div mat-dialog-content *ngIf="order">
          <h1 class="mb-4">Order #{{order.id}}</h1>
          <div class="row details mb-3">
              <div class="col-12">
                  <mat-icon>date_range</mat-icon>&nbsp;
                  <strong>Date:</strong> {{order.createdAt | date:'medium' }}
              </div>
              <div class="col-12">
                  <mat-icon>person</mat-icon>&nbsp;
                  <strong>Name:</strong> {{order.name}}
              </div>
              <div class="col-12">
                  <mat-icon>email</mat-icon>&nbsp;
                  <strong>Email:</strong> {{order.email}}
              </div>
              <div class="col-12" *ngIf="order.location">
                  <mat-icon>location_on</mat-icon>&nbsp;
                  <strong>Location:</strong> {{order.location}}
              </div>
              <div class="col-12">
                  <mat-icon>info</mat-icon>&nbsp;
                  <strong>Order Status:</strong> {{order.orderStatus}}
              </div>
              <div class="col-12" *ngIf="order.paymentId">
                  <mat-icon>payment</mat-icon>&nbsp;
                  <strong>Payment ID:</strong> {{order.paymentId}}
              </div>
          </div>
          <order-items-list [order]="order"></order-items-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  


<!-- export class Order {
    id!: number;
    items!: CartItem[];
    userId!: number;
    name!: string;
    email!: string;
    paymentId!: string;
    createdAt!: Date;
    totalPrice!: number;
    orderStatus!: string;
} -->