<div class="container mt-5">
  <div class="row bg-white rounded shadow-sm p-4 mb-4">
    <div class="col-md-9 mx-auto">
      <h2 class="text-center">Upload Ticket File</h2>
      <div id="upload-container" *ngIf="!fileUploaded && !isLoading && !uploadSuccess" class="card my-4 border-dashed" [@fade]>
        <div class="card-body text-center p-4">
          <mat-icon class="m-auto icon-display" aria-hidden="false">cloud_upload</mat-icon>
          <p class="my-2">Drag and drop your file here</p>
          <p class="mt-1 h6">Or</p>
          <input type="file" id="file-input" class="my-2" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx">
          <p class="my-2">Supported file types: .pdf</p>
        </div>
      </div>
      <div id="uploading-container" *ngIf="isLoading && !uploadSuccess" [style.height]="containerHeight" class="card my-4 border-dashed d-flex justify-content-center align-items-center" [@fade]>
        <div class="card-body text-center p-4 d-flex flex-direction-column justify-content-center align-items-center">
          <mat-spinner [diameter]="35"></mat-spinner>
          <p id="uploading-text" class="my-2 h4">Uploading file<span class="dots"></span></p>
        </div>
      </div>
      <div id="uploaded-container" *ngIf="uploadSuccess && !fileUploaded" [style.height]="containerHeight" class="card my-4 border-dashed d-flex justify-content-center align-items-center" [@fade]>
        <div class="card-body text-center p-4 d-flex justify-content-center align-items-center">
          <mat-icon class="m-auto icon-display" aria-hidden="false">done</mat-icon>
        </div>
      </div>
      <div *ngIf="isEventDatePassedFlag" class="alert alert-danger mt-4">
        <div class="d-flex align-items-center">
          <mat-icon class="me-2">autorenew</mat-icon>
          <div>The event date has already passed.</div>
        </div>
      </div>
      <form id="ticket-info-form" *ngIf="fileUploaded && !isLoading && !uploadSuccess" (ngSubmit)="onSubmit()" class="my-4 border rounded p-4" [@fade]>
        <p>
          <a class="btn btn-link" (click)="resetForm()">
            <i class="fas fa-arrow-left"></i> Back to Upload
          </a>
        </p>
        <mat-tab-group *ngIf="fileUploaded && tickets.length > 0">
          <app-ticket-in-market [tickets]="tickets"></app-ticket-in-market>
          <mat-tab *ngFor="let ticket of tickets; index as i" label="Ticket {{ i + 1 }}">
            <div id="ticket-info-form" class="my-4 border rounded p-4">
              <div class="form-group mb-4">
                <mat-form-field class="w-100">
                  <mat-label>Artist</mat-label>
                  <input matInput id="artists" type="text" [(ngModel)]="ticket.artists" name="artists" readonly>
                </mat-form-field>
              </div>
              <div class="form-group mb-4">
                <mat-form-field class="w-100" [ngClass]="{'error-field': ticketPriceControls[i].invalid && ticketPriceControls[i].touched}">
                  <mat-label>Ticket Price</mat-label>
                  <span matPrefix>₪&nbsp;</span>
                  <input matInput id="ticketPrice" [formControl]="ticketPriceControls[i]">
                  <mat-error *ngIf="ticketPriceControls[i].errors?.max">Invalid price. The price cannot be higher than the original.</mat-error>
                  <mat-error *ngIf="ticketPriceControls[i].errors?.min">Invalid price. The price cannot be negative.</mat-error>
                </mat-form-field>
              </div>                     
              <div class="form-group mb-4">
                <mat-form-field class="w-100">
                  <mat-label>Date</mat-label>
                  <input matInput id="date" type="date" [(ngModel)]="ticket.eventDate" name="date" style="text-align: left;">
                </mat-form-field>
              </div>
              <div class="form-group mb-4">
                <mat-form-field class="w-100">
                  <mat-label>Location</mat-label>
                  <input matInput id="location" type="text" [(ngModel)]="ticket.location" name="location" readonly>
                </mat-form-field>
              </div>             
              <div class="form-group mb-4">
                <mat-form-field class="w-100">
                  <mat-label>Event Description</mat-label>
                  <textarea matInput id="eventDescription" [(ngModel)]="ticket.description" name="description" rows="4" readonly></textarea>
              </mat-form-field>              
              </div>             
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="text-end">
          <button class="btn btn-primary mt-3" type="submit">Sell {{ tickets.length > 1 ? 'Tickets' : 'Ticket' }}</button>
        </div>
        
      </form>
    </div>
  </div>
</div>