<div class="dialog-header" style="display: flex; justify-content: space-between; align-items: center;">
  <h1 mat-dialog-title>Edit Ticket Price</h1>
  <button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon style="color: red;">close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="border-top border-bottom">
    <p>Please enter the new price:</p>
    <mat-form-field>
      <input matInput type="number" min="0" [(ngModel)]="data.price" #priceInput="ngModel" required>
      <mat-error *ngIf="priceInput.errors?.required">This field is required.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCancel()">
      <mat-icon>cancel</mat-icon> 
      Cancel
    </button>
    <button mat-raised-button color="accent" [disabled]="priceInput.invalid" cdkFocusInitial (click)="onConfirm()">
      <mat-icon>save</mat-icon> 
      Save
    </button>
</div>  